:root {
  --navbar-bg-color: #f5f5ef;
  --text-color: #242424;
  --navbar-text-color: #242424;
  --navbar-brand-color: #000;
  --navbar-height: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f5f5ef;
  color: var(--text-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

label,
input {
  display: block;
}

input,
textarea {
  width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.container {
  padding: 0 0.75rem;
  max-width: 540px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

#navbar {
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  top: 0;
  left: 0;
  right: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  max-width: 1920px;
  padding: 0 1.4rem;
  margin: 0 auto;
}

.home__link,
.navbar__link {
  color: var(--navbar-text-color);
  display: flex;
  font-weight: 400;
  align-items: center;
}

.navbar__logo {
  color: var(--navbar-brand-color);
  width: 100px;
}

.navbar__link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  font-size: 1.728rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.5px;
  transition: all 0.3s ease;
}

.navbar__link:is(:focus, :hover) {
  opacity: 0.5;
}

.navbar__link--active {
  font-weight: 500;
}

#navbar__toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 24px;
  height: 2px;
  margin: 2px;
  background-color: var(--navbar-brand-color);
  transition: all 0.3s ease;
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: blue;
}

#navbar__toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 24px;
}

#navbar__toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar__toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar__toggle[aria-expanded="true"] .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
}

#navbar__menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
  /* transition:  */
}

#navbar.is-open #navbar__menu {
  opacity: 1;
  visibility: visible;
}

.navbar__links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.4rem;
}

.mega-menu {
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  /* background: var(--navbar-bg-color); */
  background: orange;
  transform: translateX(100%);
  /* transition: transform 0.3s ease; */

  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.mega-menu--testing.active {
  /* transform: translateX(calc(0% + 2rem)); */
  transform: translateX(0%);
}

.mega-menu__link {
  color: var(--text-color);
}

.home,
.about,
.contact {
  margin-top: 12rem;
}

.hero__title {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.hero__title h2 {
  font-weight: 300;
  font-size: 2.074rem;
  letter-spacing: -0.5px;
  line-height: 1.3;
}

.services {
  font-weight: 300;
  font-size: 1.44rem;
  letter-spacing: -0.5px;
}

.services .title,
.about .title {
  display: block;
  font-weight: 300;
  font-size: 2.074rem;
  letter-spacing: -0.5px;
  line-height: 1.3;
  padding-bottom: 1rem;
}

.about .title {
  margin-bottom: 0.5rem;
;}

.services__subheader {
  margin-bottom: 2rem;
}

.services__subtitle {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
}

.services__h3 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.services__p {
  font-size: 1rem;
  padding-bottom: 2rem;
}

#bi {
  display: grid;
  grid-column-gap: 0.25rem;
  padding-bottom: 4rem;
}

#we {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

#chababy-img .media,
#ring .media {
  width: 80%;
}

.services__p--1 {
  width: 80%;
}

#bi .services__p--1,
#bi .media {
  width: 80%;
  justify-self: end;
}

.button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border: 1px solid var(--text-color);
  border-radius: 31px;
  font-size: 1rem;
}

.contact h1 {
  font-weight: 400;
  font-size: 2.074rem;
  letter-spacing: -0.5px;
  line-height: 1.3;
  padding-bottom: 7rem;
}

.contact__info {
  display: block;
  line-height: 2;
}
.contact__details {
  padding-bottom: 7rem;
}

.form--contact {
  max-width: 500px;
}

.form__header {
  font-weight: 400;
  margin-bottom: 1rem;
}

.form__field {
  margin-bottom: 1rem;
}

.form__label {
  font-weight: 600;
}

.form__input {
  padding: 10px;
}

.button__form {
  width: 100%;
}

.button__cta {
  margin-top: 1.5rem;
}

@media screen and (min-width: 560px) {
  .container {
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar__container {
    padding: 0 3rem;
  }
  .navbar__link {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4em 2rem;
  }
  .navbar__links .navbar__item:last-child .navbar__link {
    padding-right: 0;
  }

  #navbar__toggle {
    display: none;
  }

  #navbar__menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
  }

  .navbar__links {
    margin: 0;
    padding: 0;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .navbar__link--active {
    font-weight: 500;
  }

  .container {
    padding: 0;
    max-width: none;
  }
  .contact .container,
  .about .container {
    padding: 0 3rem;
  }

  .grid--row {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-template-areas: "left right";
  }

  .grid--col {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "top"
      "bottom";
  }

  .grid__cell--left {
    grid-area: left;
  }
  .grid__cell--right {
    grid-area: right;
  }
  .grid__cell--top {
    grid-area: top;
  }
  .grid__cell--bottom {
    grid-area: bottom;
  }

  .hero__title {
    padding-top: 0;
    padding-left: 3rem;
  }

  .hero__title h2 {
    font-size: 3.583rem;
  }

  .services__h3 {
    margin-top: 0;
    font-size: 1.08rem;
  }

  .services__subheader {
    margin-bottom: 2rem;
    padding-right: 2rem;
  }

  .services__p {
    padding-bottom: 0;
    font-size: 1.2rem;
  }

  .services__p--1 {
    display: flex;
    flex-direction: column;
  }

  #we {
    padding-top: 10rem;
  }

  #bic {
    padding-top: 3rem;
  }

  #bi .services__p--1 {
    justify-content: end;
  }

  #bi {
    padding-bottom: 0;
  }

  #bi .services__p--1,
  #bi .media {
    width: auto;
  }

  #ring + .services__p--1 {
    padding-left: 5rem;
  }

  #ring .media {
    width: 50%;
  }

  .services--cta {
    padding-bottom: 7rem;
  }

  .services--cta .title {
    padding-bottom: 2rem;
  }

  .services--cta .flex {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }

  .services--cta .grid--row {
    column-gap: 5rem;
    grid-template-columns: 60% 1fr;
  }

  .button__form {
    width: auto;
    float: right;
  }

  .contact h1 {
    font-size: 3.583rem;
    width: 500px;
  }

  .contact__info {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 990px) {
  .container {
    max-width: 1680px;
  }

  .services__subheader {
    font-size: 1.728rem;
  }

  .hero__title h2 {
    width: 90%;
  }
}

@media screen and (min-width: 1320px) {
  #navbar {
    height: 80px;
  }

  .navbar__logo {
    width: 175px;
  }

  .services__subheader {
    font-size: 2.074rem;
  }
  .hero__title h2 {
    font-size: 4.299rem;
  }
}
